<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BankEmployee.Properties.Settings.EmployeeConnectionString"
            connectionString="Data Source=DESKTOP-CSBLMDC\MY_SQL_SERVER;Initial Catalog=EMPLOYEE.MDF;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>